# 1. `.env`
VITE_ENV="development"
# -- VITE_SEED harus sama dengan SEED di backend
VITE_SEED=

# 2. `.env.development.local`
VITE_BACKEND_URL="http://localhost:3000"
# -- check pesan log ketika run `bun dev`
VITE_CHECK="Hai from env :>"

# 3. `.env.production.local`
# -- pakai url production
VITE_BACKEND_URL=https://xxx.xx
# -- check pesan log ketika run `bun preview`
VITE_CHECK="Hai from prod env :>"
