# .env (VITE_SEED harus sama dengan SEED di backend)
VITE_ENV="development"
VITE_SEED=

# .env.development.local & .env.production.local (pakai url production)
VITE_BACKEND_URL="http://localhost:3000"

# .env.development.local (check env ketika run `bun dev`)
VITE_CHECK="Hai from env :>"

# .env.production.local (check env ketika run `bun preview`)
VITE_CHECK="Hai from prod env :>"
