# .env (SEED harus sama dengan VITE_SEED di frontend)
SEED=
FRONTEND_URL=
# API_KEY ketika akses url backend yang ter lock (cth: /api/users?key=API_KEY)
API_KEY=

# .env.production (Turso Database)
DB_AUTH_TOKEN=
DATABASE_URL=