# 1. `.env` 
# -- (SEED harus sama dengan VITE_SEED di frontend)
SEED=
FRONTEND_URL=http://localhost:5173
# -- API_KEY url query security (cth: /api/users?key=API_KEY)
API_KEY=

# 2. `.env.production` (SQLite Database, cth: Turso Database)
DB_AUTH_TOKEN=
DATABASE_URL=